# Node.js / Next.js / React
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django / Flask
*.db
.env
venv/
migrations/

# Logs & Temp Files
*.log
.DS_Store
*.swp
*.swo
Thumbs.db
.idea/
.vscode/
dist/
build/
coverage/

# Git & Docker
.git
.gitignore
docker-compose.override.yml
Dockerfile.old
